<div class="element-right">
  <div class="temperatur">
    <h5>{{data | weatherModifier: data.temperatureAir}}</h5>
    <span class="w-line"> </span>
    <span class="cloud"> </span>
    <h2>{{data.temperatureAir}}<sup class="degree">°</sup></h2>
    <h6>Water {{data.temperatureWater}}<sup class="degree">°</sup></h6>
  </div>
  <div class="teddy-bear">
    <div class="teddy-text">

      <app-stars-rate *ngFor="let star of data.stars | ngforNumber"></app-stars-rate>

      <span class="w-line"> </span>
      <img [src]="data | imagePathModifier: 'weather' " alt=""  class="img-responsive mainImage">
    </div>
    <div class="teddy-follow">
      <ul>
        <li class="folw-h"><h3>{{data.followers}}</h3>
          <p>Followers</p>
        </li>
        <li><h3>{{data.following}}</h3>
          <p>Following</p>
        </li>
      </ul>
    </div>
  </div>
</div>
