<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img [src]="actualResort | imagePathModifier:'main' " alt="" class="img-responsive">
    </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>

          <li *ngFor="let item of menuItems | async; let isLast = last"
              (click)="onMenuButtonClicked(item.stars)"
              [ngClass]="{'anc-bor': isLast}"><a href="#">{{item.title}}</a>
          </li>

        </ul>
      </div>
      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">

            <app-resort-list-item class="listBackground"
              *ngFor="let resort of resorts | async | resortsFilter:currentFilterIndex"
              [data]=resort (clicked)="onResortItemClicked($event)">
            </app-resort-list-item>

          </div>
        </div>
      </div>
    </div>
  </div>

  <app-weather [data]="actualResort"></app-weather>

  <div class="clear"></div>
</div>
